{erl_opts, [debug_info]}.

{deps, [
  {lfe, {git, "http://github.com/rvirding/lfe", {branch, "develop"}}},
  {csv, {git, "https://github.com/isaksamsten/erlang-csv.git", {branch, "master"}}},
  {uuid, {git, "https://github.com/prokopiy/lfe-uuid.git", {branch, "master"}}}
]}.

{plugins, [
  {rebar3_lfe,
    {git, "https://github.com/lfe-rebar3/rebar3_lfe.git", {branch, "release/0.3.x"}}}
]}.

{lfe, [
  {main, "scripts/main.lfe"}
]}.


{provider_hooks, [
  {pre, [{compile, {lfe, compile}}]}
  ]}.